@page "/"

@inject DataSynchronizer _dataSynchronizer
@using BlazorShowcase.Data
@implements IDisposable

<div>
    <AuthorizeView>
        <Authorized Context="auth">
            <SyncStatus />

            <PageContainer Title="Scores">
                <Breadcrumb>
                    <Breadcrumb>
                        <BreadcrumbItem>Home</BreadcrumbItem>
                        <BreadcrumbItem>Dashboard</BreadcrumbItem>
                        <BreadcrumbItem>Scores </BreadcrumbItem>
                    </Breadcrumb>
                </Breadcrumb>
                <ChildContent>
                    <div class="standardList">
                        <Card>
                            <Row Gutter="24">
                                <AntDesign.Col Sm="8" Xs="24">
                                    @Info("Total scores for last 24 hours", "XXXX", true)
                                </AntDesign.Col>
                                <AntDesign.Col Sm="8" Xs="24">
                                    @Info("Scores over risk 750", "YYYY", true)
                                </AntDesign.Col>
                                <AntDesign.Col Sm="8" Xs="24">
                                    @Info("Investigated (last 24 hours)", "ZZZZ")
                                </AntDesign.Col>
                            </Row>
                        </Card>

                        <Card Class="listCard"
                              Title="Scores"
                              Style="margin-top: 24px;"
                              BodyStyle="padding: 0 32px 40px 32px">
                            <ChildContent>

                                @if (db is not null)
                                {

                                    <Table @ref="table"
                                       TItem="Score"
                                       DataSource="@GetFilteredScores()"
                                       Total="_total"
                                       PageIndex="0"
                                       PageSize="50"
                                       
                                       >
                                       

                                        @*
                                            @bind-SelectedRows="selectedRows"
                                            OnChange="OnChange"
                                        *@

                                        <Column @bind-Field="@context.Id" Sortable />
                                        <Column @bind-Field="@context.CreatedOn" Format="yyyy-MM-dd" Sortable />
                                        <Column @bind-Field="@context.UserName" Sortable />
                                        <Column @bind-Field="@context.FullName" Sortable />
                                        <Column @bind-Field="@context.IpAddress" Sortable />
                                        <Column @bind-Field="@context.City" Sortable />
                                        <Column @bind-Field="@context.RiskScore" Sortable />
                                    </Table>
                                }


                            </ChildContent>
                        </Card>
                    </div>
                </ChildContent>
            </PageContainer>

        </Authorized>
    </AuthorizeView>

</div>