@page "/"
@using System.Security.Claims
@using BlazorShowcase.Data

<AuthorizeView>
    <Authorized Context="authUser">

        <PageContainer Title="Home">
            <ChildContent>
                <Row Gutter="24">
                    <AntDesign.Col Xl="16" Lg="24" Md="24" Sm="24" Xs="24">
                        <Card Class="projectList"
                              Style="margin-bottom: 24px;"
                              Title="Get some data using gRPC"
                              BodyStyle="padding: 5px;">
                            <ChildContent>

                                <button class="btn btn-primary" @onclick="GetData">Get some data over gRPC</button>
                                
                                @if (_scores.Any())
                                {
                                    <AntList DataSource="@_scores" TItem="Score">
                                        <ListItem>
                                            <ListItemMeta Description="@context.IpAddress">
                                                <TitleTemplate>
                                                    @context.FullName
                                                </TitleTemplate>
                                            </ListItemMeta>
                                        </ListItem>
                                    </AntList>
                                }

                            </ChildContent>
                        </Card>
                        
                    </AntDesign.Col>
                    <AntDesign.Col Xl="8" Lg="24" Md="24" Sm="24" Xs="24">
                        <Card Style="margin-bottom: 24px;"
                              Title="Logged in user claims"
                              BodyStyle="padding: 1px;">
                            
                            
                            <AntList DataSource="@authUser.User.Claims" TItem="Claim">
                                <ListItem>
                                    <ListItemMeta Description="@context.Value">
                                        <TitleTemplate>
                                            @context.Type
                                        </TitleTemplate>
                                    </ListItemMeta>
                                </ListItem>
                            </AntList>

                        </Card>
                        
                    </AntDesign.Col>
                </Row>

            </ChildContent>
        </PageContainer>

    </Authorized>

    <NotAuthorized>
        <Result Status="403"
                IsShowIcon="false"
                Title="Nudge nudge, wink wink, log in!">

            <div class="d-flex justify-content-center">
                <img src="abMjEpr_700bwp.webp" />
            </div>
        </Result>
    </NotAuthorized>
</AuthorizeView>
