@namespace ShowcaseClient.Components
@using ShowcaseClient.Models
@inherits AntDesign.AntDomComponentBase

<Space Class="@ClassMapper.Class" Size="@("24")">
    
    <SpaceItem>
    
        <AuthorizeView>
            <Authorized Context="authUser">
                <AvatarDropdown Name="@FullUserName"
                                Avatar="@_currentUser.Avatar"
                                MenuItems="@AvatarMenuItems"
                                OnItemSelected="HandleSelectUser" />
            </Authorized> 
            <NotAuthorized>
                <a href="bff/login">Log in</a>
            </NotAuthorized>

        </AuthorizeView>
        
    </SpaceItem>
</Space>
