<div class="d-flex align-items-center">
    <div class="progress" style="@_componentWidthStyle">
        <div class="mr-2 progress-bar @_colorClass" role="progressbar" style="@_progressBarWidthStyle" aria-valuenow="@Score" aria-valuemin="0" aria-valuemax="1000"></div>
    </div>
    <div class="ml-2">@Score</div>
</div>